# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
*.log

# gradle
build
.gradle

# other
eclipse
run/
run-data/
CUB_200_2011/
*.hprof
*.nphd
*.ref
*.map
src/__pycache__/
output/

#vscode
.vscode/
.history/
config/
examples/
skills/
tests/
.pytest_cache/
pages/__pycache__
ui/__pycache__
ui/pages/__pycache__

generated/
build/
